<div class="row" ng-controller="tabController as tab">
  <div class="col-md-4 col-md-offset-1">
    <!-- Tabs Go Here -->
    <div class="row">
      
      <div class="col-md-12">
        <h3>Search By:</h3>
      </div>

      <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
          <li ng-class="{ active:tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Trade ID</a>
          </li>
          <li ng-class="{ active:tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Bulk ID</a>
          </li>
          <li ng-class="{ active:tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Group ID</a>
          </li>
          <li ng-class="{ active:tab.isSet(4) }">
            <a href ng-click="tab.setTab(4)">Date</a>
          </li>
        </ul>  
        </div>

        <div class="col-md-12" style="margin-top:10px;">
          <div ng-show="tab.isSet(1)">
            <center>
              <form name="trFindForm" class="form-inline">
                <fieldset class="form-group">
                  <input ng-model="tradeID" type="text" class="form-control" placeholder="Trade ID" title="Trade ID" />
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" class="btn btn-primary pull-right" ng-click="updateTID(tradeID); updateRows()" value="Submit" />
                </fieldset>
              </form>
            </center>
          </div>

          <div ng-show="tab.isSet(2)">
            <center>
              <form name="buFindForm" ng-submit="" class="form-inline">
                <fieldset class="form-group">
                  <input ng-model="bulkID" type="text" class="form-control" placeholder="Bulk ID" title="Bulk ID" />
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" class="btn btn-primary pull-right" value="Submit" ng-click="updateBID(bulkID); updateRows()" />
                </fieldset>
              </form>
            </center>
          </div>

          <div ng-show="tab.isSet(3)">
            <center>
              <form name="grFindForm" ng-submit="" class="form-inline">
                <fieldset class="form-group">
                  <input ng-model="groupID" type="text" class="form-control" placeholder="Group ID" title="Group ID" />
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" class="btn btn-primary pull-right" value="Submit" ng-click="updateGID(groupID); updateRows()" />
                </fieldset>
              </form>
            </center>
          </div>

          <div ng-show="tab.isSet(4)">
            <div class="row">
              <div class="col-md-12">
                <center>
                <h4>Select a Date</h4>
                <div style="display:inline-block; min-height:290px;">
                  <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                </div>
                <pre>{{dt | date:'fullDate' }}</pre>
                </center>
              </div>            
            </div>
          </div>
      </div>
    </div>
    <!-- End of tabs -->
  </div>
  <div class="col-md-6">
    <h3>Results:</h3>
    <table st-table="rowCollection" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="firstName">first name</th>
        <th st-sort="lastName">last name</th>
        <th st-sort="birthDate">birth date</th>
        <th st-sort="balance">balance</th>
        <th>email</th>
      </tr>        
      </thead>
      <tbody>
      <tr>
        <td colspan="5">
          <input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
        </td>
      </tr>
      <tr ng-repeat="row in rowCollection">
        <td><a ng-href="/#/workflow/{{row.firstName}}">{{row.firstName | uppercase}}</a></td>
        <td>{{row.lastName}}</td>
        <td>{{row.birthDate | date}}</td>
        <td>{{row.balance | currency}}</td>
        <td>{{row.email}}</td>
      </tr>
      </tbody>
    </table>
      
  </div>
</div>