<div class="container">
    <div class="col-md-5">
      <div class="jumbotron">
        <h1>
          <center>Trade Cancellation Workflow</center>
        </h1>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
    	<h3>Menu:</h3>
    	<table class="table table-hover" style="text-align:center">
    		<tr><td>View Last Workflow</td></tr>
    		<tr><td>Last Searched Workflow</td></tr>
    		<tr><td>Create a new Workflow</td></tr>
    		<tr><td>Search for a Workflow</td></tr>
    		<tr><td>Look at Reports</td></tr>
    		<tr><td>About</td></tr>
    	</table>
    		
    </div>
</div>