<div class="container">
	<h3>Workflow for TID: {{ tid }}</h3>		
	<hr>       
    <div class="row bs-wizard" style="border-bottom:0;">
        
        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Stage 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Active</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Stage 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Initiated</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Stage 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Bulked</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
          <div class="text-center bs-wizard-stepnum">Stage 4</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center"> Amalgamated </div>
        </div>
    </div>
    <div class="row">
    	<div class="well" style="min-height:400px;">
    		
    	</div>
    </div>
</div>
